<%= form_with(model: bin) do |form| %>
  <% if bin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
        <% bin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.select :location, ["Juja", "Mombasa", "Kisumu", "Nairobi CBD"], {}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :waste_level, style: "display: block" %>
    <%= form.number_field :waste_level %>
  </div>

  <div>
   Tick this box if the bin is emptied <%= form.check_box :emptied %>
   
  </div>

  <div class="d-flex justify-content-center mt-3">
    <%= form.submit  class: "btn btn-primary" %>
  </div>
<% end %>
