<p style="color: green"><%= notice %></p>

<h1>Bins</h1>

<div class="container">

<div class="row pb-5 mb-4">
   
      <!-- Card-->
      <% @bins.each do |bin| %>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <div class="card rounded shadow-sm border-0 h-100">
        <div class="card-body p-4">

        <% if bin.waste_level > 50 %>
          <%= image_tag "fullbin.jpeg", class: "img-fluid d-block mx-auto mb-3 h-50" %>
        <% else %>
          <%= image_tag "clean.png", class: "img-fluid d-block mx-auto mb-3 h-50" %>
        <% end %>

        <div  class="card-body p-4">

          <h6 class="card-title text-center">Location:<%= bin.location %> </h6>

          <p class="card-text text-center">Waste Level:<%= bin.waste_level %></p>
          <% if bin.emptied %>

          <p class="card-text text-center"> This bin has been emptied</p>
          <% else %>
          <p class="card-text text-center text-danger"> This bin has not been emptied</p>
          <% end %>
          <div class="btn btn-primary d-flex justify-content-center">
           <%= link_to "Show this bin", bin , class: "btn btn-primary" %>
          </div>

        </div>

         
        </div>
        </div>
      </div>
      <% end %>
 
</div>

</div>


  



