<p style="color: green"><%= notice %></p>

<div style="margin-top: 50px" class="container">
  <div class="row">
    <div class="col-sm">
    <% if @bin.waste_level > 50 %>
    <%= image_tag "fullbin.jpeg", class: "img-fluid d-block mx-auto mb-3" %>
  <% else %>
    <%= image_tag "clean.png", class: "img-fluid d-block mx-auto mb-3" %>
  <% end %>
    </div>
    <div class="col-sm"> 
    <h5 class="card-title text-center">Location:<%= @bin.location %> </h5>

    <br>

    <h5 class="card-title text-center">Waste Level:<%= @bin.waste_level %></h5>

    <br>

    <% if @bin.emptied %>
    <h5 class="card-title text-center"> This bin has been emptied</h5>
    <% else %>
    <h5 class="card-title text-center"> This bin has not been emptied</h5>
    <% end %>

  
    </div>
    <div class="col-sm">
      <button class="btn btn-primary">
      <%= link_to "Edit this bin", edit_bin_path(@bin) , class: "text-light" %> 
      </button>
      <br>
      <br>
      <button class="btn btn-primary">
      <%= link_to "Back to bins", bins_path , class: "text-light" %>
      </button>
      <br>
      <br>
      <% if current_user.email == "admin@gmail.com" %>
      
      <%= button_to "Remove this bin from the system", bin_path(@bin), method: :delete, data: { confirm: "Are you sure?" } , class: "btn btn-danger" %>
      <% end %>
     
    </div>
  </div>
</div>

<div>
</div>
